# Fichiers binaires compilés
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Répertoire bin/
bin/

# Répertoire de build
build/

# Dépendances (si tu utilises vendoring)
vendor/

# Fichiers temporaires / OS
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Modules et caches Go
/go.sum
/.idea/
/.vscode/
/*.local
*.env

# Générés par Go tools
**/coverage.out
